/* Navigation styles */
.logo {
  background: white;
  height: 230px;
  background-image: url("../images/jakes-logo.png");
  background-repeat: no-repeat;
  background-position: center;
}

.nav {
  display: flex;
  background-color: black;
  padding: 20px;
}

.left, .center, .right {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left, .right {
  width: 25%;
}
.center {
  width: 50%;
}

.center a {
  color: white;
  padding: 10px;
  font-size: 18px;
  text-decoration: none;
  font-family:arial;
}

.right button {
  background-color: yellow;
  color:black;
  font-size: 16px;
  padding: 15px;
  width: 50%;
}

.left button {
  background-color: skyblue;
  color:black;
  font-size: 16px;
  padding: 15px;
  width: 50%;
}

/* Column styles */
/* First Meida Query Added - Adjusted the height, width, and margin */
/* @media: https://www.w3schools.com/cssref/atrule_media.php */
@media (min-width: 500px){
  .column {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    margin: 20px auto 0 auto;
  }
/* Updated the food item containers to make the display better in the column orientation - Adjusted the height, width, padding, and margin */
  .meal1, .meal2, .meal3 {
    height: auto;
    width: 100%;
    display: flex;
    padding-top: 200px;
    margin-bottom: 20px;
  }
}
/* Second Meida Query Added - only changed the flex-direction, the .column class will inherit all the properties of the .column in the first media query (lines 57-63) */
@media (min-width: 800px){
  .column {
    flex-direction: row;
  }
/* Updated the food item containers to make the display better in the row orientation - Adjusted just the margin and all the other properties are inherited from the first media query (lines 65-71) */
  .meal1, .meal2, .meal3 {
    margin-right: 20px;
  }
}
/* Updated the background-position to align the background image to the top center of the food item container, and added the background-size: cover to make the background image fill the food item container as it changed size based on the media query orientation and browser width */
/* background-size:  https://www.w3schools.com/cssref/css3_pr_background-size.php */
/* background-position: https://www.w3schools.com/cssref/pr_background-position.php */
.meal1 {
  background-image: url("../images/steak.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
.meal2 {
  background-image: url("../images/soup.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
.meal3 {
  background-image: url("../images/cheesecake.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.text {
  background: rgb(0,0,0,0.7);
  width: 100%;
  padding: 20px 40px;
  color: white;
}
.text p {
  color: rgba(255, 255, 255, 0.7);
  font-family: Arial, Helvetica, sans-serif;
}
.text h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Footer Styles */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  height: 100px;
}

.footer a {
  padding: 20px 40px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.ig {
  color: red;
}

.fb {
  color:skyblue;
}

.tw {
  color: yellow;
}
